body {
    margin: 0px;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
    cursor: default;
}


.Cabecalho{
    display: flex;
    background-color: #F4F3EE;
    justify-content: space-between;

}

.Titulo {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 100px; 
    font-weight: 700;
    color: rgb(2, 2, 2);
    font-family: 'Poppins';
    border: 0px solid rgb(248, 248, 248);
}

.imagem-logo{
    width: 90px;
    height: auto; 
    display: flex;
    border-radius: 10px
}

.name-site{
    font-size: 45px;
    font-weight: 700;
    color: rgb(45, 75, 88);
}

.Informacoes {
    display: flex;
    gap: 40px; 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(45, 75, 88);
    font-size: 14px;
}

.item-home{
    display: flex;
    gap: 1px;
    align-items: center; 
}

.img-home{
    width: 30px;
    height: auto; 
    display: flex;
}

.item-noticias{
    display: flex;
    gap: 1px;
    align-items: center; 
}

.img-noticias{
    width: 30px;
    height: auto; 
    display: flex;
}

.item-servicos{
    display: flex;
    gap: 1px;
    align-items: center; 
}

.img-servicos{
    width: 35px;
    height: auto; 
    display: flex;
}

.item-contato{
    width: 35px;
    height: auto; 
    display: flex;
    align-items: center; 
}

.side{
    width: 350px; 
    background-color: #498692; /* só pra exemplo */
}


.tela-principal{
    display: flex;
    height: 100vh;
}


.side{
    background: repeating-linear-gradient(
    45deg,
    #498692,
    #78c7df 2px,
    #80ece3 2px,
    #72b4c5 2px
    ); 
    color: white;
    padding: 0px;
    box-shadow: 2px 0 8px rgba(43, 41, 41, 0.2);
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: sans-serif;   
}

.img-engrenagem{
    width: 15px;
    height: auto; 
    display: flex;
    border-radius: 10px
}

.opcoes-trajeto{   
    background: repeating-linear-gradient(
    45deg,
    #50828b,
    #2b5866 2px,
    #80ece3 2px,
    #72b4c5 2px
    ); 
    color: white;
    padding: 40px;
    box-shadow: 2px 0 8px rgba(43, 41, 41, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: sans-serif;
}

.mapa{
    flex: 1;
    background-color: #eaeaea;
    width: 100%;
    height: 100vh;
}

.img-carro{ /*icone carro*/
    width: 90px;
    height: auto; 
    display: flex;
    border-radius: 10px
}

.formulario input { /* movimentar as tags Origem e Destino*/
    width: 80%;
    padding: 5px;
    margin: 5px 0;
    border: line;
    border-radius: 50px;   
}

.opcoes{ /*direcionamento das tags litro*/
    display: flex;    
    gap: 10px;
    margin: 6px 0px;
}

.litro{ /*movimentação das tags litro*/
    width: 100px;       
    padding: 5px 8px;    
    font-size: 14px;  
    text-align: center;  
    margin-right: 10;
    border-radius: 20px    
}

.botao{
    text-align: center;
}

.botao-buscar{
    background-color: #000000;
    color: white;
    padding: 8px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
}


.switch{  /*botoes das tags Pedagios e balsas*/
    position: relative;
    padding: 1px 1px;
    width: 50px;
    height: 22px;   
    display: flex;
    align-items: center; 
}

.slider {
    position: absolute;   
    top: 0.5;
    left: 3;
    right: 3;
    bottom: 2;
    background-color: #ccc;
    border-radius: 40px;
    transition: .4s;
}

/* Bolinha do switch */
.slider::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    border-radius: 40%;
    transition: .4s;
}

.switch input:checked + .slider {  /*importante*/
    background-color: #8dbbc4;
}

.switch input:checked + .slider::before {  /*importante*/
    transform: translateX(20px);
}

.nome-calcular {  /*importante*/
    font-size: 13px;
    color:#fff5f5;
    vertical-align: middle;
    display: flex;
}

.titulo-trajeto{
    display: flex;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}


input[type="date"] {  
    width: 100%;
    padding: 6px;
    border: none;
    border-radius: 4px;
    background-color: #658fa0;
    color: white;
}

.filtro{
    display: flex;
    flex-direction: row;  /* deixa os itens lado a lado */
    gap: 10px;            /* espaço entre os switches */
    align-items: center;  /* alinha verticalmente */
    justify-content: center;  /* centraliza no container */
    margin-top: 1px;
}

.switch-filtro{ 
    display: flex;
    align-items: center;
    gap: 3px;
}

.texto{
    font-weight: bold;
    font-size: 12px;
    color: white;
}